openapi: 3.2.0
info:
  title: BioAegis Therapeutics Content Seo API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind www.bioaegistherapeutics.com.
  description: The read-only content surface BioAegis Therapeutics exposes at https://www.bioaegistherapeutics.com/wp-json. BioAegis Therapeutics is a privately held, clinical-stage biopharmaceutical company developing recombinant human plasma gelsolin (rhu-pGSN) for acute respiratory distress syndrome (BTI-203, Phase 2) and inflammasome-driven decompression sickness; it runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress `wp/v2`, `oembed/1.0` and `yoast/v1` route index the site publishes at /wp-json/, restricted to the operations that were verified to return data anonymously on 2026-08-07. Write operations, `/wp/v2/users`, `/wp/v2/settings`, `/wp/v2/menus`, `/wp/v2/menu-locations`, `/wp/v2/sidebars`, `/wp/v2/widget-types`, `/wp/v2/themes`, `/wp/v2/plugins`, `/wp/v2/templates`, `/wp/v2/template-parts`, `/wp/v2/global-styles`, `/wp/v2/block-types`, `/wp/v2/block-patterns`, `/wp/v2/pattern-directory`, `/wp/v2/font-collections`, every `revisions` and `autosaves` sub-resource, the `oembed/1.0/proxy` endpoint, the `wp-abilities/v1` namespace, the `wp-site-health/v1` namespace, the `wp-block-editor/v1` namespace, the `redirection/v1` namespace, the `elementor*` namespaces, the `astra/v1` namespace, the `monsterinsights/v1` namespace, the `nps-survey/v1` namespace, the `duplicate-post/v1` namespace and the authenticated half of `yoast/v1` all require authentication (or return 404/500/502 anonymously) and are deliberately excluded — see x-api-evangelist-provenance.
  contact:
    name: BioAegis Therapeutics
    url: https://www.bioaegistherapeutics.com/contact-us/
  x-api-evangelist-provenance: Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://www.bioaegistherapeutics.com/wp-json/ (308 routes across the namespaces oembed/1.0, redirection/v1, yoast/v1, elementor-one/v1, duplicate-post/v1, elementor/v1, elementor-pro/v1, monsterinsights/v1, astra/v1, elementor/v1/documents, elementor-ai/v1, elementor/v1/feedback, nps-survey/v1, wp/v2, wp-site-health/v1, wp-block-editor/v1 and wp-abilities/v1) and verified against live anonymous responses on 2026-08-07. Every parameter below appears verbatim in the route index `args` for that endpoint, and every operation modelled here returned 200 without credentials. The site is fronted by a Sucuri CloudProxy WAF, which answers /wp/v2/users and /wp/v2/users/me with a 403 HTML interstitial instead of a JSON error — the only place on this surface where the error envelope is not JSON. BioAegis Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. Nothing here was obtained with credentials.
  license:
    name: Site content is © BioAegis Therapeutics, Inc. — see Terms of Use
    url: https://www.bioaegistherapeutics.com/terms-of-use/
servers:
- url: https://www.bioaegistherapeutics.com/wp-json
  description: Production content API
tags:
- name: seo
  description: Yoast SEO head-tag rendering for a bioaegistherapeutics.com URL — the only anonymously readable operation in the yoast/v1 namespace, and the carrier of the site's schema.org JSON-LD graph.
paths:
  /yoast/v1/get_head:
    get:
      tags:
      - seo
      operationId: getYoastHead
      summary: Get the rendered SEO head for a URL
      description: Renders the Yoast SEO head for a bioaegistherapeutics.com URL, returning both the raw HTML (`html`) and a parsed object (`json`). The parsed object carries the canonical URL, robots directives, Open Graph and Twitter card metadata, and — under `json.schema['@graph']` — the site's schema.org JSON-LD graph (WebPage, BreadcrumbList, WebSite, Organization). This is the richest structured-data source on the surface and the only anonymously readable operation in the 53-route `yoast/v1` namespace.
      parameters:
      - name: url
        in: query
        required: true
        description: The URL whose SEO head should be rendered.
        schema:
          type: string
          format: uri
          examples:
          - https://www.bioaegistherapeutics.com/
      responses:
        '200':
          description: Rendered SEO head
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YoastHead'
components:
  schemas:
    YoastHead:
      type: object
      description: The Yoast SEO head-render response.
      properties:
        html:
          type: string
          description: Raw rendered head HTML.
        json:
          type: object
          description: Parsed head — title, description, robots, canonical, og_* and twitter_* fields, and the schema.org JSON-LD graph under `schema['@graph']`.
        status:
          type: integer
