openapi: 3.2.0
info:
  title: BioAegis Therapeutics Content Media API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind www.bioaegistherapeutics.com.
  description: The read-only content surface BioAegis Therapeutics exposes at https://www.bioaegistherapeutics.com/wp-json.
  contact:
    name: BioAegis Therapeutics
    url: https://www.bioaegistherapeutics.com/contact-us/
  x-api-evangelist-provenance: Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://www.bioaegistherapeutics.com/wp-json/ (308 routes across the namespaces oembed/1.0, redirection/v1, yoast/v1, elementor-one/v1, duplicate-post/v1, elementor/v1, elementor-pro/v1, monsterinsights/v1, astra/v1, elementor/v1/documents, elementor-ai/v1, elementor/v1/feedback, nps-survey/v1, wp/v2, wp-site-health/v1, wp-block-editor/v1 and wp-abilities/v1) and verified against live anonymous responses on 2026-08-07. Every parameter below appears verbatim in the route index `args` for that endpoint, and every operation modelled here returned 200 without credentials. The site is fronted by a Sucuri CloudProxy WAF, which answers /wp/v2/users and /wp/v2/users/me with a 403 HTML interstitial instead of a JSON error — the only place on this surface where the error envelope is not JSON. BioAegis Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. Nothing here was obtained with credentials.
  license:
    name: Site content is © BioAegis Therapeutics, Inc. — see Terms of Use
    url: https://www.bioaegistherapeutics.com/terms-of-use/
servers:
- url: https://www.bioaegistherapeutics.com/wp-json
  description: Production content API
tags:
- name: Media
  description: Media library — 247 attachments at harvest time.
paths:
  /wp/v2/media:
    get:
      tags:
      - Media
      operationId: listMedia
      summary: List media
      description: Lists media library attachments. 247 items at harvest time — company logos, leadership headshots, mechanism-of-action diagrams and press-release imagery. Each item carries `source_url` plus a `media_details.sizes` map of generated renditions.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/After'
      - $ref: '#/components/parameters/Before'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/Fields'
      - name: media_type
        in: query
        description: Limit the result set to attachments of a particular media type.
        schema:
          type: string
          enum:
          - image
          - video
          - text
          - application
          - audio
      - name: mime_type
        in: query
        description: Limit the result set to attachments of a particular MIME type.
        schema:
          type: string
          examples:
          - image/webp
      responses:
        '200':
          description: A page of media items
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
            Link:
              $ref: '#/components/headers/LinkPagination'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MediaItem'
        '400':
          $ref: '#/components/responses/InvalidParam'
  /wp/v2/media/{id}:
    get:
      tags:
      - Media
      operationId: getMediaItem
      summary: Get a media item
      description: Retrieves a single attachment by ID. ID 2910 is the site logo referenced from the REST index `site_logo` field.
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the attachment.
        schema:
          type: integer
          examples:
          - 2910
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: The media item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaItem'
        '404':
          $ref: '#/components/responses/InvalidPostId'
components:
  parameters:
    Page:
      name: page
      in: query
      description: Current page of the collection (1-based).
      schema:
        type: integer
        minimum: 1
        default: 1
    Fields:
      name: _fields
      in: query
      description: Comma-separated list of fields to limit the response to. The most effective way to keep page-body responses small on this site, where `content.rendered` can exceed 100KB.
      schema:
        type: string
        examples:
        - id,slug,title,link,date,modified
      style: form
      explode: false
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response. Anonymous callers may only use `view` and `embed`.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
    Offset:
      name: offset
      in: query
      description: Offset the result set by a specific number of items.
      schema:
        type: integer
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in the result set.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific IDs.
      schema:
        type: array
        items:
          type: integer
      style: form
      explode: false
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    Before:
      name: before
      in: query
      description: Limit response to items published before a given ISO 8601 compliant date.
      schema:
        type: string
        format: date-time
    Include:
      name: include
      in: query
      description: Limit result set to specific IDs.
      schema:
        type: array
        items:
          type: integer
      style: form
      explode: false
    After:
      name: after
      in: query
      description: Limit response to items published after a given ISO 8601 compliant date.
      schema:
        type: string
        format: date-time
    Order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
  schemas:
    RenderedText:
      type: object
      description: A rendered-HTML text field.
      properties:
        rendered:
          type: string
        protected:
          type: boolean
    MediaItem:
      type: object
      description: A media library attachment.
      properties:
        id:
          type: integer
          examples:
          - 2910
        date:
          type: string
          format: date-time
        slug:
          type: string
        type:
          type: string
          examples:
          - attachment
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/RenderedText'
        author:
          type: integer
        caption:
          $ref: '#/components/schemas/RenderedText'
        alt_text:
          type: string
        media_type:
          type: string
          examples:
          - image
        mime_type:
          type: string
          examples:
          - image/webp
        media_details:
          type: object
          description: Width, height, file, filesize and the `sizes` map of generated renditions.
        post:
          type: integer
          description: Post or page this attachment is attached to.
        source_url:
          type: string
          format: uri
        _links:
          type: object
    RestError:
      type: object
      description: The WordPress REST error envelope. This is NOT RFC 9457 problem+json — it is served as `application/json` with a `code`/`message`/`data.status` shape, and the HTTP status is duplicated inside `data.status`.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code.
          examples:
          - rest_post_invalid_id
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
            params:
              type: object
              description: Per-parameter validation messages, present on rest_invalid_param.
              additionalProperties:
                type: string
            details:
              type: object
              description: Per-parameter structured validation detail, present on rest_invalid_param.
  headers:
    LinkPagination:
      description: RFC 8288 Link header carrying `prev` and `next` relations for the collection.
      schema:
        type: string
    XWPTotalPages:
      description: Total number of pages available at the requested page size.
      schema:
        type: integer
        examples:
        - 153
    XWPTotal:
      description: Total number of items in the collection.
      schema:
        type: integer
        examples:
        - 153
  responses:
    InvalidParam:
      description: A query parameter failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestError'
          examples:
            perPageOutOfBounds:
              value:
                code: rest_invalid_param
                message: 'Invalid parameter(s): per_page'
                data:
                  status: 400
                  params:
                    per_page: per_page must be between 1 (inclusive) and 100 (inclusive)
    InvalidPostId:
      description: No published object exists with that ID.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestError'
          examples:
            invalidPostId:
              value:
                code: rest_post_invalid_id
                message: Invalid post ID.
                data:
                  status: 404
