openapi: 3.2.0
info:
  title: BioAegis Therapeutics Content Blocks API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind www.bioaegistherapeutics.com.
  description: The read-only content surface BioAegis Therapeutics exposes at https://www.bioaegistherapeutics.com/wp-json.
  contact:
    name: BioAegis Therapeutics
    url: https://www.bioaegistherapeutics.com/contact-us/
  x-api-evangelist-provenance: Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://www.bioaegistherapeutics.com/wp-json/ (308 routes across the namespaces oembed/1.0, redirection/v1, yoast/v1, elementor-one/v1, duplicate-post/v1, elementor/v1, elementor-pro/v1, monsterinsights/v1, astra/v1, elementor/v1/documents, elementor-ai/v1, elementor/v1/feedback, nps-survey/v1, wp/v2, wp-site-health/v1, wp-block-editor/v1 and wp-abilities/v1) and verified against live anonymous responses on 2026-08-07. Every parameter below appears verbatim in the route index `args` for that endpoint, and every operation modelled here returned 200 without credentials. The site is fronted by a Sucuri CloudProxy WAF, which answers /wp/v2/users and /wp/v2/users/me with a 403 HTML interstitial instead of a JSON error — the only place on this surface where the error envelope is not JSON. BioAegis Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. Nothing here was obtained with credentials.
  license:
    name: Site content is © BioAegis Therapeutics, Inc. — see Terms of Use
    url: https://www.bioaegistherapeutics.com/terms-of-use/
servers:
- url: https://www.bioaegistherapeutics.com/wp-json
  description: Production content API
tags:
- name: Blocks
  description: Reusable block patterns and navigation menus. Both registered and reachable, but empty (X-WP-Total 0) — the site is built with Elementor, not the block editor.
paths:
  /wp/v2/blocks:
    get:
      tags:
      - Blocks
      operationId: listBlocks
      summary: List reusable blocks
      description: Lists reusable block patterns (`wp_block`). Registered and reachable, but empty (X-WP-Total 0) — the site is authored in Elementor rather than the block editor.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A page of reusable blocks (empty on this deployment)
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /wp/v2/navigation:
    get:
      tags:
      - Blocks
      operationId: listNavigationMenus
      summary: List navigation menus
      description: Lists block-editor navigation menus (`wp_navigation`). Registered and reachable, but empty (X-WP-Total 0). The classic `/wp/v2/menus` and `/wp/v2/menu-locations` endpoints, which would carry the real site navigation, return 401 `rest_cannot_view` anonymously.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A page of navigation menus (empty on this deployment)
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
components:
  parameters:
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in the result set.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response. Anonymous callers may only use `view` and `embed`.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
    Page:
      name: page
      in: query
      description: Current page of the collection (1-based).
      schema:
        type: integer
        minimum: 1
        default: 1
  headers:
    XWPTotal:
      description: Total number of items in the collection.
      schema:
        type: integer
        examples:
        - 153
